:root {
    --accent-color: #2196f3;
    --primary-white-color: #fff;
    --title-font-size: 16px;
    --text-font-size: 14px;
    --priamary-color: #212121;
    --text-color: #757575;
    --transion: 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}
*,
::after,
::before {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    padding: 0;
    list-style: none;
}
.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--text-font-size);
    color: var(--accent-color);
    justify-content: center;
}
.section {
    padding: 94px 0px;
}
.link {
    text-decoration: none;
}
address {
    font-style: normal;
}
button {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0px 15px;
    /* outline: 2px solid rgb(228, 208, 208);*/
}
.header,
.header-nav,
.header-nav__menu,
.header-nav__contacts {
    display: flex;
    align-items: center;
    height: 80px;
}

.contacts-item {
    display: flex;
    align-items: center;
}
/*--хедер--*/
.header {
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
}
.header-nav {
    display: flex;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    display: inline-block;
}
.header__logo {
    margin-right: 93px;
}
.logo__logo-dark {
    color: #000;
}

.header-navigation__item + .header-navigation__item {
    margin-left: 50px;
}

.header-navigation__link {
    display: block;
    position: relative;
    padding: 21px 0px;
    font-weight: 500;
    font-size: var(--text-font-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--priamary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    color: var(--accent-color);
}
.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: -11px;
    left: 0;
    border-radius: 2px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__contacts {
    margin-left: auto;
}
.contacts__item + .contacts__item {
    margin-left: 50px;
}
.contact-mail {
    color: var(--text-color);
    fill: var(--text-color);
    padding: 21px 0px;
}
.contacts__item:hover,
.contacts__item:focus {
    fill: var(--accent-color);
    padding: 21px 0px;
}
.contacts__link:hover,
.contacts__link:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
    transform: scale(1.02);
}
.phone {
    width: 10px;
    height: 16px;
}
.contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: var(--text-font-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
    background-color: transparent;
    cursor: pointer;
    color: var(--text-color);
    fill: var(--text-color);
    padding: 15px 0px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__icon {
    margin-right: 10px;
    color: currentColor;
}

.contacts__link {
    display: block;
    padding: 21px 0px;
    font-size: var(--text-font-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: var(--text-color);
    fill: var(--text-color);
    transition: var(--icon-link);
}
.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}
.contacts__link:not(:last-child) {
    margin-right: 50px;
}
/*--модальне вікно--*/
.modal {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 528px;
    height: auto;
    padding: 40px;
    margin: 0 auto;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
    position: absolute;
    cursor: pointer;
    margin: 0 auto;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: backround-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal:hover + .icon-close,
.btn-modal:focus + .icon-close {
    color: var(--accent-color);
}

.modal__icon-close {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: inline-block;
    cursor: pointer;
    fill: #000;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close:hover,
.icon-close:focus {
    fill: #2196f3;
}
.form-textarea:focus {
    outline: 1px solid rgba(33, 150, 243);
    border: transparent;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.backdrop {
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.js-speaker-form {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.modal__title-form {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}
.form-list {
    display: block;
    width: 448px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.form__item {
    display: flex;
    position: relative;
    flex-direction: column;
}
.form__item:not(:last-child) {
    margin-bottom: 12px;
}

.form__label {
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    text-align: left;
}
.input:focus {
    border-color: rgba(33, 150, 243);
}

.form__input {
    position: relative;
}

.input:focus + .form__icon-input {
    fill: rgba(33, 150, 243);
}
.input {
    width: 100%;
    height: 100%;
    padding: 14px 14px;
    padding-left: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-label {
    position: absolute;
}
.form__icon-input {
    position: absolute;
    top: 50%;
    left: 14px;
    display: inline-block;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__input:focus {
    border-color: #fff;
}
.error {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgb(239, 154, 154);
}

.input:focus {
    border-color: rgba(33, 150, 243);
}
.icon {
    position: absolute;
    fill: rgba(33, 33, 33, 100);
}

.form__textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea:focus {
    border-color: rgba(33, 150, 243);
}
.form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.buttton-form:hover {
    background-color: #1d7bc8;
    transform: scale(1.03);
}
.form__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.checkbox__icon {
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 2px solid #212121;
    margin-right: 7px;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__icon {
    background-color: #2196f3;
    border-color: transparent;
    background-image: url('../images/icons.svg/icon\ check.svg');
    background-size: contain;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
}
.checkbox__label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
.checkbox__link {
    color: #2196f3;
    text-decoration: underline;
}
.checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form__button {
    position: relative;
    width: 216px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    text-align: center;
    line-height: 1.8;
    cursor: pointer;
    display: block;
    border: 1px solid transparent;
    overflow: hidden;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__button:hover {
    background-color: #176eb5;
    transform: scale(1.03);
}

/*--портфоліо--*/
.section {
    padding: 94px 0px;
}
.title-portfolio {
    color: var(--priamary-color);
    font-size: 32px;
    text-align: center;
    margin-top: 0px;
    visibility: hidden;
}
.buttons {
    display: flex;
    gap: 8px;
    margin-top: 0px;
    margin-bottom: 50px;
    justify-content: center;
}
.button {
    font-size: var(--title-font-size);
    font-family: 'Roboto';
    text-align: center;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--priamary-color);
    font-weight: 500;
    border: 1px solid transparent;
    padding: 6px 22px;
    background: #f5f4fa;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transform: calc(1.2);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrap-portfolio__title {
    color: var(--priamary-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.wrap-portfolio__text {
    font-size: var(--title-font-size);
    color: var(--text-color);
    line-height: 1.87;
    letter-spacing: 0.03em;
}
.portfolio-list__item {
    background: #ffffff;
    position: relative;
}
.portfolio-overlay__img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity 0.1s linear;
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.portfolio__link {
    display: block;
}
.portfolio__link:hover .portfolio-overlay__text,
.portfolio__link:focus .portfolio-overlay__text {
    transform: translateY(0);
}
.portfolio-overlay {
    position: relative;
    overflow: hidden;
}
.portfolio-overlay__text {
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    font-family: 'roboto';
    font-weight: 400;
    color: #fff;
    line-height: 1.5;
    font-size: 18px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 40px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.wrap-portfolio-text {
    padding: 24px;
    margin-top: 0px;
    border-top: none;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}
.portfolio__link:hover,
.portfolio__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*--студія--*/
.section-team {
    background-color: #f5f4fa;
}
.studio-hero {
    text-align: center;
    background-color: #2f303a;
    padding: 200px 0px;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url('../images/studio/hero-Img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-size: cover;
}
.studio-hero__title {
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    align-items: center;
    color: #ffffff;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 45px;
    width: 612px;
}
.studio-hero__button:hover {
    background-color: #176eb5;
    transform: scale(1.03);
}
.studio-hero__button {
    width: 216px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border: 1px solid transparent;
    overflow: hidden;
    transition: backround-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*--переваги--*/
.section-advantages {
    padding: 94px 0px;
}
.section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--priamary-color);
    margin-top: 0px;
    margin-bottom: 50px;
}
.list-advantages {
    display: flex;
    gap: 30px;
}
.section-title__section-portfolio,
.section-title__section-advantages {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.list-advantages__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 30px;
}
.list-advantages__title {
    font-size: var(--text-font-size);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--priamary-color);
    margin-top: 0px;
    margin-bottom: 10px;
}
.list-advantages__text {
    font-size: var(--text-font-size);
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
/*--наша команда--*/
.section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--priamary-color);
    margin-top: 0px;
    margin-bottom: 50px;
}
.list-team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.list-team__item {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.list-team__title {
    font-size: var(--title-font-size);
    color: var(--priamary-color);
    line-height: 1.17;
    font-weight: 500;
    letter-spacing: 0.06em;
    margin-bottom: 12px;
}

.list-team__text {
    font-size: var(--title-font-size);
    color: var(--text-color);
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}
.list-team__excerpt {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 28px;
}
.icon-team {
    fill: currentColor;
    cursor: pointer;
}

.social-icons__icon-team:focus,
.social-icons__icon-team:hover {
    background-color: var(--accent-color);
    color: #fff;
    transform: scale(1.05);
}

.social-icons__icon-team {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    color: #afb1b8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link:not(:last-child) {
    margin-right: 5px;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
/*--наша робота--*/
.section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--priamary-color);
    margin-top: 0px;
    margin-bottom: 50px;
}
.section.section-work {
    padding-top: 0px;
}
.work-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.work-list__img {
    display: block;
    width: 100%;
    height: 100%;
}
.work-list__overlay {
    position: relative;
}
.work-list__text {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    left: 0%;
    bottom: 0;
}

/*--клієнти--*/
.section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--priamary-color);
    margin-top: 0px;
    margin-bottom: 50px;
}
.clients-list {
    display: flex;
    gap: 30px;
}
.clients-list__item::before {
    background-image: url('../images/icons.svg/Logo1.svg');
}

.clients-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    cursor: pointer;
    color: #afb1b8;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__icon {
    fill: currentColor;
    cursor: pointer;
}
.clients-list__link:hover,
.clients-list__link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

/*--подвал--*/
.footer {
    background-color: #2f303a;
    padding: 60px 0px;
}
.footer__inner {
    display: flex;
    align-items: baseline;
}
.footter__address {
    margin-right: 70px;
    flex-grow: 1;
}
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    display: inline-block;
}
.footer__logo {
    margin-bottom: 20px;
}

.logo__logo-white {
    color: #fff;
}
.footter__address {
    margin-right: 70px;
    flex-grow: 1;
}
.social-icons__footer {
    margin-right: 93px;
}

.address-list__link.address {
    color: #ffffff;
}
.address-list__link {
    font-size: var(--text-font-size);
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    display: inline-block;
}
.address-list__item:not(:last-child) {
    margin-bottom: 9px;
}
.footer__inner {
    display: flex;
    align-items: baseline;
}
.footer-form__title,
.social-icons__title {
    color: #fff;
    margin-bottom: 20px;
    font-size: 14px;
    font-size: var(--text-font-size);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-form__input:focus {
    border-color: #fff;
}

.icons-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    color: #fff;
}
.social-icons__list {
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.social-icons__icon-footer:focus,
.social-icons__icon-footer:hover {
    background-color: var(--accent-color);
    color: #fff;
    transform: scale(1.05);
}
.social-icons__icon-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-link-footer:focus .icon-team,
.icons-link-footer:hover .icon-team {
    transition: 250ms;
    transform: scale(1.05);
}
.icon-footer {
    fill: currentColor;
    cursor: pointer;
}

.footer-form__input {
    width: 358px;
    height: 100%;
    padding: 16px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__button {
    position: relative;
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    text-align: center;
    line-height: 1.8;
    cursor: pointer;
    display: inline-flex;
    border: 1px solid transparent;
    overflow: hidden;
    margin-left: 12px;
    background-position: right;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__button:hover {
    background-color: #1d7bc8;
    transform: scale(1.03);
}

.icon-telegram {
    margin-left: 10px;
    fill: #fff;
    background-size: contain;
}
.input-footer::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
