.section-advantages {
	padding: 94px 0px;
}

.section-title {
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: $priamary-color;
	margin-top: 0px;
	margin-bottom: 50px;
}

.section-title__section-portfolio,
.section-title__section-advantages {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.list-advantages {
	display: flex;
	gap: 30px;


	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 270px;
		height: 120px;
		background-color: #f5f4fa;
		border-radius: 4px;
		cursor: pointer;
		margin-bottom: 30px;
	}

	&__title {
		font-size: $text-font-size;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: $priamary-color;
		margin-top: 0px;
		margin-bottom: 10px;
	}

	&__text {
		font-size: $text-font-size;
		line-height: 1.7;
		letter-spacing: 0.03em;
		color: $text-color;
	}
}